<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Beatnik - Link Converter</title>
    </head>
    
    <body>
        <h1>Convert a link</h1>
        <form action="/linkConverter/", method="post">
            {% csrf_token %}
            {{ form }}
            <div class="button">
                <button type="submit">Convert</button>
            </div>
        </form>
        {% if links %}
        <ul>
            {% for key, val in links.items %}
                {% if val is not None %}
                    <li><a target="_blank" href="{{ val }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
