li {
  padding: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-color: #222;
  padding: 1px 10px;
  color: white;
}

.title { 
  color: white;
  text-decoration: none;
}

.intro {
  font-size: large;
}

.content {
  width: 60%;
  margin: 10px auto;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
}

.col-25 {
  width: 25%;
  flex: 0 0 25%;
}

.col-33 {
  width: 33%;
  flex: 0 0 33%;
}

.col-50 {
  width: 50%;
  flex: 0 0 50%;
}

.col-66 {
  width: 66%;
  flex: 0 0 66%;
}

.col-75 {
  width: 75%;
  flex: 0 0 75%;
}

.col-100 {
  width: 100%;
  flex: 0 0 100%;
}

.row-10 {
  height: 10%;
  flex: 0 0 10%;
}

.row-90 {
  height: 90%;
  flex: 0 0 90%;
}

.row-100 {
  height: 100%;
  flex: 0 0 100%;
}

input.search-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 100%;
  padding: 5px;
  text-align: center;
  height: 20px;
  width: 100%;
}

input.search-box:focus {
  outline: none;
}

.search-form {
  width: 100%;
}

.subtitle {
  padding-top: 7px;
  padding-bottom: 7px;
}

.artwork {
  height: 300px;
  width: 300px;
}

.service-description {
  font-size: x-large;
  line-height: 30px;
  text-align: left;
}

.service-logo {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  vertical-align: middle;
}

.music-container {
  margin: 10px;
}

.music-info {
  margin: 5px;
}

.music-button {
  background-color: #808080;
  border-width: 0;
  color: #fff;
  height: 50px;
  width: 300px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 100px;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.modal-content {
  height: 300px;
}

.modal-text {
  text-align: center;
}

.modal-button {
  width: 95%;
}

@media only screen and (max-width: 1075px) {
  .col-50 {
    width: 100%;
    flex: 0 0 100%;
  }
}
