.header {
  background-color: #222;
  padding: 1px 10px;
  color: white;
}

.title { 
  color: white;
  text-decoration: none;
}

.intro {
  font-size: large;
}

.content {
  width: 60%;
  margin: 10px auto;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.col-25 {
  width: 25%;
  flex: 0 0 25%;
}

.col-33 {
  width: 33%;
  flex: 0 0 33%;
}

.col-50 {
  width: 50%;
  flex: 0 0 50%;
}

.col-75 {
  width: 75%;
  flex: 0 0 75%;
}

.col-100 {
  width: 100%;
  flex: 0 0 100%;
}

.row-50 {
  height: 50%;
  flex: 0 0 50%;
}

input.search-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 100%;
  padding: 5px;
  text-align: center;
  height: 20px;
  width: 100%;
}

input.search-box:focus {
  outline: none;
}

.search-form {
  width: 100%;
}

.subtitle {
  padding-top: 7px;
  padding-bottom: 7px;
}

img {
  height: 240px;
  width: 240px;
}

.music-container {
  margin: 10px;
}

.music-info {
  padding-left: 20px;
}

.music-info-item {
  margin: 5px;
}
