[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4"
appdirs = "==1.4.3"
asn1crypto = "==0.23.0"
async-timeout = "==3.0.1"
attrs = "==19.3.0"
beautifulsoup4 = "==4.6.0"
certifi = "==2017.7.27.1"
cffi = "==1.12.3"
chardet = "==3.0.4"
cryptography = "==3.3.2"
cssselect = "==1.0.3"
decorator = "==4.1.2"
django-cors-headers = "==2.1.0"
django-tracking2 = "==0.5.0"
djangorestframework = "==3.11.2"
flake8 = "==3.7.9"
future = "==0.16.0"
gmusicapi = "==12.0.0"
gpsoauth = "==0.4.1"
gunicorn = "==19.7.1"
httplib2 = "==0.19.0"
idna = "==2.6"
lxml = "==4.6.3"
mock = "==2.0.0"
multidict = "==4.7.5"
mutagen = "==1.38"
newrelic = "==4.16.1.117"
oauth2client = "==4.1.2"
pbr = "==3.1.1"
proboscis = "==1.2.6.0"
protobuf = "==3.4.0"
psycopg2 = "~=2.8.4"
pyasn1 = "==0.3.7"
pyasn1-modules = "==0.1.5"
pycparser = "==2.18"
pycryptodomex = "==3.4.7"
pyjwt = "==1.5.3"
pyquery = "==1.4.0"
python-dateutil = "==2.6.1"
pytz = "==2017.3"
requests = "~=2.25"
rsa = "==4.7"
simplejson = "==3.13.2"
sitemap-generator = "==0.5.2"
six = "==1.11.0"
slackclient = "==2.5.0"
spotipy = "==2.4.4"
sqlparse = "==0.3.0"
tidalapi = "==0.6.8"
typing-extensions = "==3.7.4.2"
urllib3 = "==1.26.5"
validictory = "==1.1.1"
whitenoise = "==4.1.2"
yarl = "==1.4.2"
Django = "==2.2.27"
idna_ssl = "==1.1.0"
MechanicalSoup = "==0.8.0"
dj-database-url = "*"
ytmusicapi = {git = "https://github.com/sigma67/ytmusicapi"}

[dev-packages]

[requires]
python_version = "3.8"
