body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  width: 100%;
}

li {
  padding: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-color: #222;
  padding: 1px 10px;
  color: white;
}

.title {
  color: white;
  text-decoration: none;
}

.intro {
  font-size: large;
}

.content {
  width: 60%;
  margin: 10px auto;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
}

.col-25 {
  width: 25%;
  flex: 0 0 25%;
}

.col-33 {
  width: 33%;
  flex: 0 0 33%;
}

.col-50 {
  width: 50%;
  flex: 0 0 50%;
}

.col-66 {
  width: 66%;
  flex: 0 0 66%;
}

.col-75 {
  width: 75%;
  flex: 0 0 75%;
}

.col-100 {
  width: 100%;
  flex: 0 0 100%;
}

.row-10 {
  height: 10%;
  flex: 0 0 10%;
}

.row-20 {
  height: 20%;
  flex: 0 0 20%;
}

.row-80 {
  height: 80%;
  flex: 0 0 80%;
}

.row-90 {
  height: 90%;
  flex: 0 0 90%;
}

.row-100 {
  height: 100%;
  flex: 0 0 100%;
}

.spinner {
  height: 50px;
  width: 50px;
}

.search-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 100%;
  padding: 5px;
  text-align: center;
  width: 95%;
}

.search-box:focus {
  outline: none;
}

.search-button {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 100%;
  text-align: center;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.subtitle {
  padding-top: 7px;
  padding-bottom: 7px;
}

.artwork {
  height: 300px;
  width: 300px;
}

.service-description {
  font-size: x-large;
  line-height: 30px;
  text-align: left;
  width: 75%;
  flex: 0 0 75%;
}

.service-logo {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  vertical-align: middle;
}

.service-logo-container {
  width: 25%;
  flex: 0 0 25%;
}

.music-container {
  margin: 10px;
}

.music-info {
  margin: 5px;
}

.music-button {
  background-color: #808080;
  border-width: 0;
  color: #fff;
  height: 50px;
  width: 300px;
}

.error {
  color: red;
}

.redirect {
  border: none;
  margin: 0px;
  padding: 0px;
}

.redirect-label {
  vertical-align: text-bottom;
}

.settings-item {
  margin-bottom: 5px;
}

.settings-icon {
  height: 27px;
  margin-top: 20px;
  width: 27px;
}

.reset-button {
  margin-right: 5px;
}

@media only screen and (max-width: 375px) {
  .service-description {
    font-size: 5vw;
  }

  .music-button {
    width: 75vw;
  }
}

@media only screen and (max-width: 1075px) {
  .col-25,
  .col-33,
  .col-50,
  .col-75 {
    width: 100%;
    flex: 0 0 100%;
  }

  .m-col-10 {
    width: 10%;
    flex: 0 0 10%;
  }

  .m-col-90 {
    width: 90%;
    flex: 0 0 90%;
  }

  .artwork {
    width: 100%;
    height: auto;
  }

  .content {
    width: 80%;
  }

  .extension {
    display: none;
  }

  .music-button {
    width: 100%;
  }

  .search-box {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
