a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  width: 100%;
}

input,
textarea {
  font-family: Arial, sans-serif;
  font-size: 12pt;
}

input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #666;
  font-size: 100%;
  text-align: center;
  padding: 5px;
}

input[type="reset"]:focus,
input[type="submit"]:focus {
  box-shadow: 2px 2px 3px grey;
}

input[type="reset"] {
  margin-right: 10px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid lightskyblue;
  box-shadow: 2px 2px 5px lightskyblue;
}

input[type="email"]:valid,
input[type="text"]:valid,
textarea:valid{
  border: 1px solid lightgreen;
}

li {
  padding: 5px 0;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
}

.col-10 {
  width: 10%;
  flex: 0 0 10%;
}

.col-25 {
  width: 25%;
  flex: 0 0 25%;
}

.col-33 {
  width: 33%;
  flex: 0 0 33%;
}

.col-40 {
  width: 40%;
  flex: 0 0 40%;
}

.col-50 {
  width: 50%;
  flex: 0 0 50%;
}

.col-60 {
  width: 60%;
  flex: 0 0 60%;
}

.col-66 {
  width: 66%;
  flex: 0 0 66%;
}

.col-75 {
  width: 75%;
  flex: 0 0 75%;
}

.col-90 {
  width: 90%;
  flex: 0 0 90%;
}

.col-100 {
  width: 100%;
  flex: 0 0 100%;
}

.row-10 {
  height: 10%;
  flex: 0 0 10%;
}

.row-20 {
  height: 20%;
  flex: 0 0 20%;
}

.row-80 {
  height: 80%;
  flex: 0 0 80%;
}

.row-90 {
  height: 90%;
  flex: 0 0 90%;
}

.row-100 {
  height: 100%;
  flex: 0 0 100%;
}

.header {
  background-color: #222;
  padding: 1px 10px;
  color: white;
}

.title {
  color: white;
}

.intro {
  font-size: large;
}

.content {
  flex: 1 0 auto;
  margin: 10px auto;
  width: 60%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 100%;
  padding: 5px;
  text-align: center;
  width: 95%;
}

.search-button {
  width: 100%;
}

.subtitle {
  padding-top: 7px;
  padding-bottom: 7px;
}

.artwork {
  height: 300px;
  width: 300px;
}

.service-description {
  display: flex;
  font-size: x-large;
  line-height: 30px;
  margin: auto;
  text-align: left;
  width: 75%;
  flex: 0 0 75%;
}

.service-logo {
  height: 30px;
  width: 30px;
  margin: auto;
}

.service-logo-container {
  display: flex;
  width: 25%;
  flex: 0 0 25%;
}

.music-container {
  margin: 10px;
}

.music-info {
  margin: 5px;
}

.music-button {
  background-color: #808080;
  border-width: 0;
  color: #fff;
  height: 50px;
  text-decoration: none;
  width: 300px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.redirect {
  border: none;
  margin: 0px;
  padding: 0px;
}

.redirect-label {
  vertical-align: text-bottom;
}

.icon {
  height: 27px;
  margin-top: 20px;
  width: 27px;
}

.icon-link {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075);
  padding: 6px 12px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

.rating-group {
  margin: 0px;
  width: 274px;
}

.radio-group {
  margin: auto;
}

.feed .artwork {
  height: 100px;
  width: 100px;
}

.feed .music-button {
  background-color: #ffffff;
  height: 35px;
  margin: auto;
  width: 35px;
}

.feed .link-container {
  height: 50%;
  max-height: 104px;
}

.feed h2 {
  color: #222;
}

.feed h3 {
  color: #444;
}

.feed span {
  padding: 0px;
}

.pagination {
  margin: auto;
}

.pagination li {
  display: inline-block;
  width: auto;
}

.pagination a, span {
  border-radius: 5px;
  color: black;
  display: inline-block;
  float: left;
  margin: auto 2px;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination span {
  padding: 8px 8px;
}

.pagination a.active {
  background-color: #3dd;
  border-radius: 5px;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.page-offset {
  padding: 8px 8px;
}

.error-page {
  text-align: center;
}

@media only screen and (max-width: 375px) {
  .service-description {
    font-size: 5vw;
  }

  .music-button {
    width: 75vw;
  }
}

@media only screen and (max-width: 1075px) {
  .col-25,
  .col-33,
  .col-50,
  .col-75 {
    width: 100%;
    flex: 0 0 100%;
  }

  .m-col-20 {
    width: 20%;
    flex: 0 0 20%;
  }

  .m-col-30 {
    width: 35%;
    flex: 0 0 35%;
  }

  .m-col-50 {
    width: 50%;
    flex: 0 0 50%;
  }

  .m-col-65 {
    width: 65%;
    flex: 0 0 65%;
  }

  .m-col-80 {
    width: 80%;
    flex: 0 0 80%;
  }

  .artwork {
    width: 100%;
    height: auto;
  }

  .content {
    width: 90%;
  }

  .extension {
    display: none;
  }

  .music-button,
  .rating-group {
    width: 100%;
  }

  .search-box {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
