{% extends "index.html" %}

{% block content %}
<div class="content">
  <p class="intro">
  Beatnik makes it easy to share music that you love with the people you know will love it too.
  </p>
  <p class="intro">
  To get started just paste a link into the search bar on the home page and press convert. In no
  time you'll have a shareable link that you can send to your friends, no matter how they listen.
  </p>
  <p class="intro">
  We also provide a browser extension you can install into your favorite browser which will
  automatically redirect you here from any links to our supported streaming services. Combined with
  our auto-redirect feature (available from the settings page) you can have a seamless experience
  that will always take you to your preferred streaming service.
  </p>
  <p class="intro">
  To help us make the site better, we ask that you allow us to collect usage data (available as an
  opt in on the settings page). This helps us understand how our users are using the site in order
  to fix pain points and seamlessly integrate new features.
  </p>
  <p class="intro">
  Beatnik is open source and is provided under the GPL-3.0 license. Links to the source code (hosted
  on Github) can be found in the header and footer.
  </p>
</div>
{% endblock %}
