{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
  <div class="flex-row">
    <form id="search-form" action="/search" method="get" class="flex-row">
      <div class="col-75">
        <input
          name="q"
          class="search-box"
          type="search"
          placeholder="Enter a link or search query"
          value="{{ query }}" required>
      </div>
      <div class="col-25">
        <input class="search-button" type="submit" value="Search" title="Search">
      </div>
    </form>
  </div>
  {% block errors %}{% endblock %}
  {% block result %}{% endblock %}
  {% block feed %}
  <ul class="flex-row feed">
    {% for music in latest_music %}
    <li class="flex-row col-100">
      <a href="/music/{{music.id}}" class="flex-row col-90 m-col-50"
                                    title="{{music.name}} - {{music.artist}}">
        <div class="col-25 m-col-35">
          <img class="artwork" src="{{ music.artwork }}" alt="Album cover" />
        </div>
        <div class="flex-col col-75 m-col-65">
          <h2 class="music-info">{{ music.name }}</h2>
          <h3 class="music-info">{{ music.artist }}</h3>
        </div>
      </a>
      <div class="flex-col col-10 link-container m-col-50">
        {% if music.apple_url %}
        <a class="flex-row music-button" target="_blank" href="{{ music.apple_url }}">
          <img alt="Apple Music" class="service-logo" src="{% static "images/apple_logo.png" %}" />
        </a>
        {% else %}
        <span class="flex-row music-button"></span>
        {% endif %}
        {% if music.soundcloud_url %}
        <a class="flex-row music-button" target="_blank" href="{{ music.soundcloud_url }}">
          <img alt="Soundcloud" class="service-logo" src="{% static "images/soundcloud_logo.png" %}" />
        </a>
        {% else %}
        <span class="flex-row music-button"></span>
        {% endif %}
        {% if music.spotify_url %}
        <a class="flex-row music-button" target="_blank" href="{{ music.spotify_url }}">
          <img alt="Spotify" class="service-logo" src="{% static "images/spotify_logo.png" %}" />
        </a>
        {% else %}
        <span class="flex-row music-button"></span>
        {% endif %}
        {% if music.tidal_url %}
        <a class="flex-row music-button" target="_blank" href="{{ music.tidal_url }}">
          <img alt="Tidal" class="service-logo" src="{% static "images/tidal_logo.png" %}" />
        </a>
        {% else %}
        <span class="flex-row music-button"></span>
        {% endif %}
        {% if music.ytm_url %}
        <a class="flex-row music-button" target="_blank" href="{{ music.ytm_url }}">
          <img alt="Youtube Music" class="service-logo" src="{% static "images/ytm_logo.png" %}" />
        </a>
        {% else %}
        <span class="flex-row music-button"></span>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="flex-row">
    <ul class="pagination">
      <li>
        <a href='/0' title="First page">&laquo;</a>
      </li>
      {% for i in page_range %}
      <li>
        {% if i == '...' %}
        <span>{{i}}</span>
        {% else %}
        <a href='/{{i}}' title="Page {{i|add:"1"}}"
                         {% if current_page == i %}
                         class="active"
                         {% endif %}
                         >{{i|add:"1"}}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li>
        <a href='/{{last_page}}' title="Last page">&raquo;</a>
      </li>
    </ul>
  </div>
  {% endblock %}
</div>
{% endblock %}
