{% extends "index.html" %}
{% load static %}

{% block og_meta %}
<meta property="og:title" content="{{ music.name }} - {{ music.artist }}">
<meta property="og:url" content="https://beatnik-app.herokuapp.com/music/{{ music.id }}">
<meta property="og:image" content="{{ music.artwork }}">
{% endblock %}

{% block result %}
<div class="flex-row music-container">
  <div class="flex-row col-100">
    <div class="flex-col">
      <h2 class="music-info">{{ music.name }}</h2>
      <h3 class="music-info">{{ music.artist }}</h3>
      {% if music.album != "" %}
      <h3 class="music-info">{{ music.album }}</h3>
      {% endif %}
    </div>
  </div>
  <div class="flex-row col-100">
    <div class="flex-row col-50">
      <img class="artwork" src="{{ music.artwork }}" alt="Album cover" />
    </div>
    <div class="flex-row col-50">
      <div class="flex-col">
        <form target="_blank">
          <ul>
            {% if music.apple_url %}
            <li>
              <button class="music-button" formaction="{{ music.apple_url }}" type="submit">
                <div class="flex-row">
                  <div class="service-logo-container">
                    <img alt="" class="service-logo" src="{% static "images/apple_logo.png" %}" />
                  </div>
                  <div class="service-description">
                    Apple Music
                  </div>
                </div>
              </button>
            </li>
            {% endif %}
            {% if music.gpm_url %}
            <li>
              <button class="music-button" formaction="{{ music.gpm_url }}" type="submit">
                <div class="flex-row">
                  <div class="service-logo-container">
                    <img alt="" class="service-logo" src="{% static "images/gpm_logo.png" %}" />
                  </div>
                  <div class="service-description">
                    Google Play Music
                  </div>
                </div>
              </button>
            </li>
            {% endif %}
            {% if music.soundcloud_url %}
            <li>
              <button class="music-button" formaction="{{ music.soundcloud_url }}" type="submit">
                <div class="flex-row">
                  <div class="service-logo-container">
                    <img alt="" class="service-logo" src="{% static "images/soundcloud_logo.png" %}" />
                  </div>
                  <div class="service-description">
                    Soundcloud
                  </div>
                </div>
              </button>
            </li>
            {% endif %}
            {% if music.spotify_url %}
            <li>
              <button class="music-button" formaction="{{ music.spotify_url }}" type="submit">
                <div class="flex-row">
                  <div class="service-logo-container">
                    <img alt="" class="service-logo" src="{% static "images/spotify_logo.png" %}" />
                  </div>
                  <div class="service-description">
                    Spotify
                  </div>
                </div>
              </button>
            </li>
            {% endif %}
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
