{% extends "index.html" %}
{% load static %}

{% block meta %}
<meta property="og:title" content="{{ music.name }} - {{ music.artist }}">
<meta property="og:url" content="https://www.beatnikapp.com/music/{{ music.id }}">
<meta property="og:image" content="{{ music.artwork }}">

<meta name="description" content="Links to {{ music.name }} by {{ music.artist }} on Apple Music, Google Play Music, Soundcloud, and Spotify">
<title>{{ music.name }} by {{ music.artist }} on Beatnik</title>
{% endblock %}

{% block result %}
<div class="flex-row music-container">
  <div class="flex-row col-100">
    <div class="flex-col">
      <h2 class="music-info">{{ music.name }}</h2>
      <h3 class="music-info">{{ music.artist }}</h3>
      {% if music.album != "" %}
      <h3 class="music-info">{{ music.album }}</h3>
      {% endif %}
    </div>
  </div>
  <div class="flex-row col-100">
    <div class="flex-row col-50">
      <img class="artwork" src="{{ music.artwork }}" alt="Album cover" />
    </div>
    <div class="flex-row col-50">
      <div class="flex-col">
        <ul>
          {% if music.apple_url %}
          <li>
            <a class="flex-row music-button" href="{{ music.apple_url }}" target="_blank">
              <div class="service-logo-container">
                <img alt="Apple Music" class="service-logo" src="{% static "images/apple_logo.png" %}" />
              </div>
              <div class="service-description">
                Apple Music
              </div>
            </a>
          </li>
          {% endif %}
          {% if music.gpm_url %}
          <li>
            <a class="flex-row music-button" href="{{ music.gpm_url }}" target="_blank">
              <div class="service-logo-container">
                <img alt="Google Play Music" class="service-logo" src="{% static "images/gpm_logo.png" %}" />
              </div>
              <div class="service-description">
                Google Play Music
              </div>
            </a>
          </li>
          {% endif %}
          {% if music.soundcloud_url %}
          <li>
            <a class="flex-row music-button" href="{{ music.soundcloud_url }}" target="_blank">
              <div class="service-logo-container">
                <img alt="Soundcloud" class="service-logo" src="{% static "images/soundcloud_logo.png" %}" />
              </div>
              <div class="service-description">
                Soundcloud
              </div>
            </a>
          </li>
          {% endif %}
          {% if music.spotify_url %}
          <li>
            <a class="flex-row music-button" href="{{ music.spotify_url }}" target="_blank">
              <div class="service-logo-container">
                <img alt="Spotify" class="service-logo" src="{% static "images/spotify_logo.png" %}" />
              </div>
              <div class="service-description">
                Spotify
              </div>
            </a>
          </li>
          {% endif %}
          {% if music.tidal_url %}
          <li>
            <a class="flex-row music-button" href="{{ music.tidal_url }}" target="_blank">
              <div class="service-logo-container">
                <img alt="Tidal" class="service-logo" src="{% static "images/tidal_logo.png" %}" />
              </div>
              <div class="service-description">
                Tidal
              </div>
            </a>
          </li>
          {% endif %}
          <li>
            {% if rated %}
            <div class="flex-row">Thank you! We appreciate your feedback.</div>
            {% else %}
            <form id="rating-form" action="/rating" method="post" class="flex-row">
              {% csrf_token %}
              <input type="hidden" name="music_id" value="{{music.id}}">
              <fieldset class="rating-group flex-row">
                <legend>Did we get it right?</legend>
                <div class="m-col-50 radio-group">
                  <label><input type="radio" name="rating" value="1">Yes</label>
                  <label><input type="radio" name="rating" value="-1">No</label>
                </div>
                <div class="m-col-50">
                  <input class="rating-button" type="submit" value="Submit Feedback">
                </div>
              </fieldset>
            </form>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block feed %}{% endblock %}
