<div class="flex-row">
  <form id="search-form" action="/search" method="get" class="flex-row">
    <div class="col-75">
      <input
        name="q"
        class="search-box"
        type="search"
        placeholder="Enter a link or search query"
        required>
    </div>
    <div class="col-25">
      <input class="search-button" type="submit" value="Search" title="Search">
    </div>
  </form>
</div>
