<div class="flex-row">
  <%= form_with url: "/search", class: "flex-row", method: :get do |form| %>
    <div class="col-75">
      <input
        name="q"
        class="search-box"
        type="search"
        placeholder="Enter a link or search query"
        required>
    </div>
    <div class="col-25">
      <input class="search-button" type="submit" value="Search" title="Search">
    </div>
  <% end %>
</div>
