<% content_for :head do %>
  <meta property="og:title" content="Beatnik - Streaming music sharing">
  <meta property="og:description" content="Beatnik allows you to easily share music with others and makes it easy to follow streaming links, no matter which service you use.">
  <meta property="og:url" content="https://www.beatnikapp.com">
  <meta property="og:image" content="https://lh3.googleusercontent.com/VC4PNBfT_VghCeFsETuFQ4MfeKPQpqBM0nNjhCx3c0A_bYJLHRkIa_S7cwxWTACoYyxC9mp_uIM=w640-h400-e365">

  <meta name="description" content="Beatnik allows you to easily share music with others and makes it easy to follow streaming links, no matter which service you use.">
  <title>Beatnik - Streaming music sharing</title>
<% end %>

<p class="intro">
  Beatnik makes it easy to share music that you love with the people you know will love it too.
</p>
<p class="intro">
  To get started just paste a link into the search bar on the home page and press convert. In no
  time you'll have a shareable link that you can send to your friends, no matter how they listen.
</p>
<p class="intro">
  We also provide a browser extension you can install into your favorite browser which will
  automatically redirect you here from any links to our supported streaming services. Combined with
  our auto-redirect feature (available from the settings page) you can have a seamless experience
  that will always take you to your preferred streaming service.
</p>
<p class="intro">
  To help us make the site better, we collect data about how you're using the site. We do not and will not track you across the web or show you targeted advertisement based on your identity. Tracking data will be held for no more than 60 days.
</p>
<p class="intro">
  Beatnik is open source and is provided under the GPL-3.0 license. Links to the source code (hosted
  on Github) can be found in the header and footer.
</p>
